nav(class="nav display-none")
  ul(class="nav-ul")
    li(class="nav-li")
      a(href="#about-us" class="nav-link") ABOUT US
    li(class="nav-li")
      a(href="#products" class="nav-link") PRODUCTS
    li(class="nav-li")
      a(href="#company" class="nav-link") COMPANY
    li(class="nav-li")
      a(href="#contact" class="nav-link") CONTACT
.hamb-button
  span(class="border")
  span(class="border")
  span(class="border")