*, *::after, *::before {
	box-sizing: border-box;
}
html {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
	color: #fff;
	background: #000;
	overflow-x: hidden;
}
#wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #fff;
	outline: none;
}
a:hover, a:focus {
	color: #fff;
}
ul {
	list-style: none;
}
.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
.display-none {
	display: none;
}

/* Overlay */
main::before {
	content: '';
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: rgba(84, 115, 243, 0.3);
}

/* 各セクション共通設定 */
.content--related {
	height: auto !important;
	position: relative;
	display: flex;
	min-height: 50vh;
	padding: 0 1.5em;

	.section-wrapper {
		flex: 1;
		height: 100%;
		background: rgba(53, 50, 50, 0.98);
		padding: 0 4em;
	}
}
.content__text {
	width: 100%;
	/* margin-bottom: 1.5em; */
	font-size: 2.5em;
	font-weight: normal;
	text-align: center;
	letter-spacing: .03em;
}
.content__text::after {
    content: '';
    display: block;
    width: 15%;
    min-width: 5em;
    margin: 0% auto;
    border-bottom: 1px solid #cc78aa;
}
.text-style {
	text-align: justify;
	line-height: 1.75;
	letter-spacing: 1px;
}
@media screen and (max-width: 430px) {
	.content--related {
		padding: 0;

		.section-wrapper {
			padding: 0 1em;
		}
	}
}

/* ヘッダー */
.content--header {
	display: flex;
	position: relative;
	z-index: 11;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	padding: 1.5em;
}
.content__top {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: auto;
}
.main-title-area {
	display: flex;
	flex-flow: wrap;
	margin: 0;
	white-space: nowrap;
	align-items: center;
}
.main-title {
	background: #ffdef7cc;
	margin: 0;
	padding: 2px 1em;
	display: flex;
	align-items: center;
	border-radius: 25px;
}
.main-title img {
	max-width: 220px;
	max-height: 60px;
	width: auto;
	height: auto;
	display: block;
	object-fit: contain;
}
.main-subtitle {
	font-size: calc(10px + .9vw);
	margin: 0 1em;
	padding: 5px;
	opacity: 0.8;
}

/* ハンバーガーメニュー */
.nav-li {
    border-right: 1px solid #fff;
    text-align: center;
}
.nav-li:last-child {
    border-right: none;
}
.nav-link {
    padding: 9px 20px 9px 20px;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}
.hamb-button {
    display: none;
}
.nav-ul {
    height: 50px;
}
.nav-li {
    height: 100%;
}
.nav-link {
    display: block;
    height: 100%;
}
.hamb-button {
	display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    position: fixed;
    margin: 5px;
    top: 15px;
    right: 20px;
    width: 50px;
    min-width: 50px;
    height: 50px;
    padding: 10px;
	border-radius: 25px;
	background: #ffdef7cc;
    cursor: pointer;
    z-index: 2;
}
.hamb-button::after {
	content: '';
	position: absolute;
	bottom: -1em;
	left: 0;
	width: 100%;
	border-radius: 3px;
	background: rgb(53, 50, 50);
	text-align: center;
	font-size: 11px;
}
.border {
	content: "";
	width: 100%;
	height: 4px;
	border-radius: 3px;
	background: #7b9bff;
	transition: all .7s;
}
.close-button {
	background: rgb(53, 50, 50);
}
.close-button::after {
	content: 'CLOSE';
	background: rgb(53, 50, 50);
}
.close-button > .border {
	position: absolute;
	top: 16px;
	right: 0;
}
.close-button > .border:nth-of-type(1) {
	transform: rotate(45deg);
}
.close-button > .border:nth-of-type(2) {
	opacity: 0;
}
.close-button > .border:nth-of-type(3) {
	transform: rotate(-45deg);
}
.nav {
	width: 43%;
	margin-bottom: 12em;
}
.hamb-nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 15em;
	padding-bottom: 13em;
	border: 2px solid rgb(53, 50, 50);
	background: rgb(53, 50, 50);
	transition: .7s ease-in-out;
}
.hamb-nav > .nav-ul {
	flex-flow: column;
	margin-top: 5.5em;
	padding-left: 0;
}

@media screen and (max-width: 640px) {
	.main-title {
		padding: 10px 1em;
	}
}
@media screen and (max-width: 430px) {
	.main-title-area {
		flex-flow: wrap;
		white-space: nowrap;
	}
	.main-title img {
		max-width: 150px;
		max-height: 45px;
	}
}

/* メインビジュアル */
.main-visual {
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.main-visual__vision {
	width: 100%;
	padding-left: .4em;
	margin-top: .3em;
	margin-bottom: 1.5em;
	font-size: calc(3em + 6vw);
	font-weight: 900;
}

/* About us */
.vision-ja {
	font-size: calc(3em + 4vw);
	font-weight: 900;
	p {
		margin: 0;
	}
}
.company-description {
	font-size: 24px;
    padding: 0 .8em 2em .8em;
    margin: 0;
    line-height: 1.5em;
}
@media screen and (max-width: 820px) {
	.vision-ja {
		font-size: calc(2em + 4vw);
	}
}
@media screen and (max-width: 430px) {
	.main-visual__vision {
		font-size: calc(3em + 3vw);
	}
	.company-description {
		font-size: 16px;
	}
	.text-style {
		font-size: calc(12px + .2vw);
	}
}
@media screen and (max-width: 360px) {
	.main-visual__vision {
		font-size: calc(3em + 2vw);
	}
}
/* SERVICES */
.products-wrapper {
	display: flex;
	justify-content: center;
	margin: 0 0 4em 0;
}
.products-container {
	display: flex;
	flex-direction: column;
	width: 70%;
}
.product-top {
	width: 100%;
}
.product-bottom-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 4px;
	gap: 4px;
}
.product-bottom-left,
.product-bottom-right {
	flex: 1;
	width: 50%;
}
.product-img {
	width: 100%;
	height: auto;
	display: block;
}
.product-link {
	transition: opacity 0.3s;
}
.product-link:hover {
	opacity: 0.8;
}
.product-img-comming-soon {
	width: 100%;
	height: auto;
	opacity: .5;
	display: block;
}
@media screen and (max-width: 1024px) {
	.products-container {
		width: 95%;
	}
}

/* COMPANY */
.company-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 4em;
	margin: 2em auto;
	max-width: 90%;
}
.company-info {
	flex: 1;
	max-width: 400px;
}
.company-info h4 {
	font-size: 1.5em;
	margin: 0 0 1em 0;
	color: #cc78aa;
}
.company-info dl {
	margin: 0;
	padding: 0;
}
.company-info dt {
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0.5em;
	color: #cc78aa;
}
.company-info dt:first-child {
	margin-top: 0;
}
.company-info dd {
	margin: 0 0 0 1.5em;
	padding: 0;
	line-height: 1.75;
}
.company-history {
	flex: 1;
	max-width: 400px;
}
.company-history h4 {
	font-size: 1.5em;
	margin: 0 0 1em 0;
	color: #cc78aa;
}
.company-history ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.company-history li {
	display: flex;
	margin-bottom: 1em;
	line-height: 1.75;
}
.company-history li:last-child {
	margin-bottom: 0;
}
.company-history .year {
	font-weight: bold;
	min-width: 5em;
	margin-right: 1em;
	color: #cc78aa;
}
.company-history .description {
	flex: 1;
}
.company-map {
	margin-bottom: 4em;
}
@media screen and (max-width: 960px) {
	.company-content {
		flex-direction: column;
		gap: 2em;
	}
}
@media screen and (max-width: 430px) {
	.company-content {
		margin: 1em 0;
		max-width: 100%;
	}
	.company-info {
		max-width: 100%;
	}
	.company-info h4 {
		font-size: 1.3em;
	}
	.company-info dt {
		margin-top: 0.8em;
	}
	.company-info dd {
		margin-left: 1em;
	}
	.company-history {
		max-width: 100%;
	}
	.company-history h4 {
		font-size: 1.3em;
	}
	.company-history .year {
		min-width: 4em;
		margin-right: 0.8em;
	}
	.company-map {
		margin-top: 2em;
	}
}

/* CONTACT */
.contact-form {
    min-width: 54.5%;
    width: 37.5%;
    margin: 0 auto;
	margin-bottom: 4em;
}
.contact-label {
	position: relative;
	display: block;
    margin-bottom: 1em;
    color: #fff;
    font-size: calc(1rem + .3vw);
    text-align: center;
}
.required {
	display: block;
    position: absolute;
    left: auto;
    bottom: auto;
    width: 4.5em;
    padding: .35em .4em;
    border-radius: 3px;
    color: #fff;
    font-size: .8rem;
    background: #cc78aa;
    text-align: center;
}
.contact-input {
    width: 100%;
    margin-bottom: 2.5em;
    padding: 9px 15px;
    border: 1px solid #8C9BB0;
    border-radius: 5px;
}
.contact-txt {
    height: 240px;
    margin-bottom: 3.5em;
}
.btn-div {
    text-align: center;
}
.btn {
    display: inline-block;
    max-width: 100%;
    padding: .6em 4em;
    background: #cc78aa;
	border: 2px solid transparent;
	border-radius: 5px;
    color: #fff;
    font-size: calc(1rem + 0.4vw);
    font-weight: 700;
    text-align: center;
    letter-spacing: .1em;
    transition: .3s;
}
.btn:focus, .btn:hover {
    background: #fff;
    border-color: currentColor;
    color: #cc809f;
}
@media screen and (max-width:960px) {
    .contact-form {
        width: 100%;
        padding: 0 1em;
    }
    .contact-txt {
        height: 187px;
    }
}
@media screen and (max-width: 430px) {
	.contact-form {
		padding: 0;
	}
	.required {
		padding: 3px;
		background: transparent;
		color: #cc809f;
	}
}

/* フッター */
.footer {
	margin-top: -2.5em;
	text-align: center;
}
.copyright {
	padding-bottom: 2em;
	font-size: calc(10px + .1vw);
	word-break: break-all;
}
@media screen and (max-width:960px) {
	.copyright {
		padding-bottom: .5em;
	}
}
@media screen and (max-width:430px) {
	.footer {
		margin-top: 0;
	}
}

/* ページTOPに戻る */
.pagetop {
    display: none;
    position: fixed;
    right: 25px;
    bottom: 15px;
}
.pagetop > a {
    display: block;
    font-size: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #ffdef7cc;
    border-radius: 50%;
    line-height: 50px;
}
.pagetop > a > i {
    font-size: 20px;
    color: #7b9bff;
    line-height: 50px;
}

/* WebGL設定 */
#webgl {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	display: block;
	width: 100vw;
	height: 100vh;
}
@media screen and (max-width: 640px) {
	.content--header {
		padding: 1em 0.5em 0;
	}
	.content__top {
		display: flex;
		text-align: left;
	}
	.main-title img {
		max-width: 180px;
		max-height: 50px;
	}
	.main-subtitle {
		margin: 0;
	}
}
