section(
  id="about-us"
  class="content content--related"
  data-aos="zoom"
  data-aos-delay="100"
)
  .section-wrapper
    h3(class="content__text") About us
    div(class="text-style")
      div(class="vision-ja")
        p 自然と使っている。
        p 自然に使える。
      div(class="company-description")
        p 株式会社It's Automaticは、スマホアプリやWebサービスを企画し、開発から運営まで行っています。
        p 使いやすさは、機能ではなく体験だと考えています。
        p ソフトウェアを中心に、そこから生まれる価値をさまざまな事業へ広げています。
        p 気づけば使っている、そんな体験を目指しています。
