section(
  id="contact"
  class="content content--related"
  data-aos="zoom"
  data-aos-delay="100"
)
  .section-wrapper
    h3(class="content__text") CONTACT
    form(action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfC8tSEmIDTy3r__oWRG21EgbiwIEcS5OqbfWa_Q5ngHSY9sA/formResponse" class="contact-form")
      .input-item
        span(class="required") 必須
        label(for="name" class="contact-label") お名前
        input(id="name" type="text" name="entry.583715521" class="contact-input" required)
      .input-item
        span(class="required") 必須
        label(for="email" class="contact-label") メールアドレス
        input(id="email" type="email" name="entry.1476939802" class="contact-input" required)
      .input-item
        span(class="required") 必須
        label(for="message" class="contact-label") メッセージ
        textarea(id="message" name="entry.1258476309" class="contact-input contact-txt" required)
      div(class="input-item btn-div")
        button(type="submit" class="btn") 送信
